body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #fff !important;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.errImg{
  width: 60%;
}
